@import 'https://fonts.googleapis.com/css?family=Muli';
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Modules
@import 'partials/variables';

//Partiallayout';
@import 'layout';
@import 'partials/sprite-icons';
@import 'partials/sprite-main';
@import 'partials/pkm-list';
@import 'partials/display';
@import 'partials/types';
@import 'partials/nav';
@import 'partials/media-queries';
@import 'partials/moves';
@import 'partials/evolution';

body{
	font-family: $font;
	margin:0;
	overflow:hidden; 
	background-color: $red;
}

.index{
	width:100%;
	height:100%;
	position:absolute;
}
ng-include.ng-scope{
	height:95%;
}
.text{text-align:center;}
.name{
	text-align:center;
	font-size: 1.5em;
	font-weight:bold;
	letter-spacing: 1px;
}
input[type=text]{
	outline:none;
	width:80%;
	height:5%; 
	border-radius: 2em;
	border:none;
	margin-top:1em;
	font-size:0.8em;
}
.menu-exit-btn{
	position:absolute;
	color:white;
	height:3em; width:3em;
	right:-3em;
	background-color:$black;
	cursor: pointer;
	font-size:1em; font-weight:900;
}

@media only screen and (max-width: 855px){
	#section-pokemon-list.hide{left:-50%;}
	#section-pokemon-list.show{}
	#section-pokemon-list{
		// transition:$transition;
		position:fixed;
		z-index:1;
		background-color:$black;
		input[type=text]{
			height:3em;
		}
		#pokemon-list{
			li.ng-scope{
				&:hover{
					background-color: $lblack;
					color:$listcolor;					
				}
			}
		}

	}

}







