@import 'https://fonts.googleapis.com/css?family=Muli';
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Modules
@import 'partials/variables';

//Partiallayout';
@import 'layout';
@import 'partials/sprite-icons';
@import 'partials/sprite-main';
@import 'partials/pkm-list';
@import 'partials/display';
@import 'partials/types';
@import 'partials/nav';
@import 'partials/media-queries';
@import 'partials/moves';
@import 'partials/evolution';

body{
	font-family: $font;
	margin:0;
	overflow:hidden; 
	background-color: $red;
}

.index{
	width:100%;
	height:100%;
	position:absolute;
}
ng-include.ng-scope{
	height:95%;
}
.text{text-align:center;}
.name{
	text-align:center;
	font-size: 1.5em;
	font-weight:bold;
	letter-spacing: 1px;
}









