@import 'variables';


#sprite,
#evolution-1{
	.container-sprite{
		width:100%;
		height:14em;
		border-radius:1em;
		background-color: $white;
	}	
	.container-main-sprite{
		@include circle(12em);
		box-shadow: 0em 0em 0.9em 0.1em $gray;
		border:solid 0.5em;
		transition: all 0.5s;
	}
}
