$border: solid 1px black;
$font: 'Muli', sans-serif;
$font-type: 'Nunito', sans-serif;
$transition: all 0.5s;
$red: #f05c5f;
$dred: #bf494c;
$gray: #afb3b5;
$white: #fff;
$black: #363636;
$lblack: #636363;
$blue: #01a9da;
$dblue: #3498db;
$listcolor: #80807c;

//TYPES
$bug:#bbc169;
$dragon:#4e5573;
$dark:#3f3f3f;
$electric:#fcce54; //#f8db65
$fairy:#f2c6d5;
$fighting:#be3a31;
$fire:#ed5f55;
$flying:#b9caef;
$ghost:#35495d; //#4b294a
$grass:#5ECA7F;
$ground:#8d725f;
$ice:#4ec2e7;
$normal:#d4c197;
$poison:#ba597e;
$psychic:#7277d5;
$rock:#b1a484;
$steel:#c5cbd4;
$water:#4c72a8; //#4c72a8	#5c9ded


//mixins
@mixin circle($width){
	height: $width;
	width: $width;
	border-radius: 50%;
}
