<li class = "moves-category-select">
	<ul class = "row center">
		<li class="label" ng-repeat ="set in moveCategory"><span ng-click="choseMoveSet(set.value)">{{set.label}}</span></li>
	</ul>
</li>
<li class="col center moves-display">
	<ul class="row">
		<li class = "moves-select">
			<ul >
				<li class = "col center" ng-repeat="(key, value) in displayMoves.Move track by $index">
					<span class="move {{displayMoves.Type[key] | lowercase}}"></span>
					<span ng-click = "getDetail(value, displayMoves.Type[key], key)">{{value}}</span>
				</li>
			</ul>
		</li>
		<li class="moves-description {{moveDetail.type | lowercase}}">
			<ul>
				<li class="row center name">{{moveDetail.move}}</li>
				<li class="row center"><span class = "type {{moveDetail.type | lowercase}} ">{{moveDetail.type | uppercase}}</span></li>
				<li>
					<table>
						<tr ng-repeat="(key, value) in moveDetail.detail">
							<th>{{key}} </th><td>{{value}} </td>
						</tr>
					</table>
				</li>
				<li>{{moveDetail.description}} </li>
			</ul>
			
		</li>
	</ul>
	
</li>