<ul id='display' class= 'col center'>
	<li class='pkm-description col center'>
		<span class="row center name">{{id}} {{name | uppercase}}</span>
		<span class="row center species">{{entry.Species | uppercase}}</span>
		<ul class="row center">
			<li ng-repeat = "t in entry.Type" ><span class="type {{t | lowercase}}">{{t | uppercase}}</span></li>
		</ul>
		<ul class = "row center" id = "sprite">
			<ng-include ng-show="stateMain==0" src="'/templates/sprite-main.html'"></ng-include>
		</ul>
		<ul id="details" class="basic pkm-description-inner row center">
			<ng-include ng-show="stateMain==0" id ="basic" class="col space-around" src="'/templates/display/basic.html'"></ng-include>
			<ng-include ng-show="stateMain==1" id ="moves" class="col center" src="'/templates/display/moves.html'"></ng-include>
			<ng-include ng-show="stateMain==2" id ="evolution" class="col center" src="'/templates/display/evolution.html'"></ng-include>		
		</ul>		
	</li>	
</ul>