.type {
  line-height: 2.1em;
  width: 4.6em;
  border: solid 0.1em;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  border-radius: 5em;
  padding: 0 0.5em;
  color: #f2f2f2;
  box-shadow: inset 0em 0em 0.05em 0.15em #fff;
  text-shadow: 0px 0.1em #636363;
  text-align: center;
  margin: 0 0.2em; }

.bug {
  background-color: #bbc169;
  border-color: #bbc169; }

.dragon {
  background-color: #4e5573;
  border-color: #4e5573; }

.dark {
  background-color: #3f3f3f;
  border-color: #3f3f3f; }

.electric {
  background-color: #fcce54;
  border-color: #fcce54; }

.fairy {
  background-color: #f2c6d5;
  border-color: #f2c6d5; }

.fire {
  background-color: #ed5f55;
  border-color: #ed5f55; }

.flying {
  background-color: #b9caef;
  border-color: #b9caef; }

.fighting {
  background-color: #be3a31;
  border-color: #be3a31; }

.ghost {
  background-color: #35495d;
  border-color: #35495d; }

.grass {
  background-color: #5ECA7F;
  border-color: #5ECA7F; }

.ground {
  background-color: #8d725f;
  border-color: #8d725f; }

.ice {
  background-color: #4ec2e7;
  border-color: #4ec2e7; }

.normal {
  background-color: #d4c197;
  border-color: #d4c197; }

.poison {
  background-color: #ba597e;
  border-color: #ba597e; }

.psychic {
  background-color: #7277d5;
  border-color: #7277d5; }

.rock {
  background-color: #b1a484;
  border-color: #b1a484; }

.steel {
  background-color: #c5cbd4;
  border-color: #c5cbd4; }

.water {
  background-color: #4c72a8;
  border-color: #4c72a8; }

.bg {
  transition: all 0.5s; }

.bg.bug {
  background-color: #bbc169; }

.bg.dragon {
  background-color: #4e5573; }

.bg.dark {
  background-color: #3f3f3f; }

.bg.electric {
  background-color: #fcce54; }

.bg.fairy {
  background-color: #f2c6d5; }

.bg.fire {
  background-color: #ed5f55; }

.bg.flying {
  background-color: #b9caef; }

.bg.fighting {
  background-color: #be3a31; }

.bg.ghost {
  background-color: #35495d; }

.bg.grass {
  background-color: #5ECA7F; }

.bg.ground {
  background-color: #8d725f; }

.bg.ice {
  background-color: #4ec2e7; }

.bg.normal {
  background-color: #d4c197; }

.bg.poison {
  background-color: #ba597e; }

.bg.psychic {
  background-color: #7277d5; }

.bg.rock {
  background-color: #b1a484; }

.bg.steel {
  background-color: #c5cbd4; }

.bg.water {
  background-color: #4c72a8; }

.fg {
  background-color: transparent;
  transition: all 0.5s; }

.fg.bug #sprite .container-main-sprite {
  border-color: #bbc169; }
.fg.bug #basic .general tbody {
  border-color: #bbc169; }
.fg.bug #basic .stats .gauge div {
  background-color: #bbc169; }

.fg.dragon #sprite .container-main-sprite {
  border-color: #4e5573; }
.fg.dragon #basic .general tbody {
  border-color: #4e5573; }
.fg.dragon #basic .stats .gauge div {
  background-color: #4e5573; }

.fg.dark #sprite .container-main-sprite {
  border-color: #3f3f3f; }
.fg.dark #basic .general tbody {
  border-color: #3f3f3f; }
.fg.dark #basic .stats .gauge div {
  background-color: #3f3f3f; }

.fg.fairy #sprite .container-main-sprite {
  border-color: #f2c6d5; }
.fg.fairy #basic .general tbody {
  border-color: #f2c6d5; }
.fg.fairy #basic .stats .gauge div {
  background-color: #f2c6d5; }

.fg.electric #sprite .container-main-sprite {
  border-color: #fcce54; }
.fg.electric #basic .general tbody {
  border-color: #fcce54; }
.fg.electric #basic .stats .gauge div {
  background-color: #fcce54; }

.fg.fire #sprite .container-main-sprite {
  border-color: #ed5f55; }
.fg.fire #basic .general tbody {
  border-color: #ed5f55; }
.fg.fire #basic .stats .gauge div {
  background-color: #ed5f55; }

.fg.flying #sprite .container-main-sprite {
  border-color: #b9caef; }
.fg.flying #basic .general tbody {
  border-color: #b9caef; }
.fg.flying #basic .stats .gauge div {
  background-color: #b9caef; }

.fg.fighting #sprite .container-main-sprite {
  border-color: #be3a31; }
.fg.fighting #basic .general tbody {
  border-color: #be3a31; }
.fg.fighting #basic .stats .gauge div {
  background-color: #be3a31; }

.fg.ghost #sprite .container-main-sprite {
  border-color: #35495d; }
.fg.ghost #basic .general tbody {
  border-color: #35495d; }
.fg.ghost #basic .stats .gauge div {
  background-color: #35495d; }

.fg.grass #sprite .container-main-sprite {
  border-color: #5ECA7F; }
.fg.grass #basic .general tbody {
  border-color: #5ECA7F; }
.fg.grass #basic .stats .gauge div {
  background-color: #5ECA7F; }

.fg.ground #sprite .container-main-sprite {
  border-color: #8d725f; }
.fg.ground #basic .general tbody {
  border-color: #8d725f; }
.fg.ground #basic .stats .gauge div {
  background-color: #8d725f; }

.fg.ice #sprite .container-main-sprite {
  border-color: #4ec2e7; }
.fg.ice #basic .general tbody {
  border-color: #4ec2e7; }
.fg.ice #basic .stats .gauge div {
  background-color: #4ec2e7; }

.fg.normal #sprite .container-main-sprite {
  border-color: #d4c197; }
.fg.normal #basic .general tbody {
  border-color: #d4c197; }
.fg.normal #basic .stats .gauge div {
  background-color: #d4c197; }

.fg.poison #sprite .container-main-sprite {
  border-color: #ba597e; }
.fg.poison #basic .general tbody {
  border-color: #ba597e; }
.fg.poison #basic .stats .gauge div {
  background-color: #ba597e; }

.fg.psychic #sprite .container-main-sprite {
  border-color: #7277d5; }
.fg.psychic #basic .general tbody {
  border-color: #7277d5; }
.fg.psychic #basic .stats .gauge div {
  background-color: #7277d5; }

.fg.rock #sprite .container-main-sprite {
  border-color: #b1a484; }
.fg.rock #basic .general tbody {
  border-color: #b1a484; }
.fg.rock #basic .stats .gauge div {
  background-color: #b1a484; }

.fg.steel #sprite .container-main-sprite {
  border-color: #c5cbd4; }
.fg.steel #basic .general tbody {
  border-color: #c5cbd4; }
.fg.steel #basic .stats .gauge div {
  background-color: #c5cbd4; }

.fg.water #sprite .container-main-sprite {
  border-color: #4c72a8; }
.fg.water #basic .general tbody {
  border-color: #4c72a8; }
.fg.water #basic .stats .gauge div {
  background-color: #4c72a8; }

.moves-description {
  background-color: transparent; }

.moves-description.bug {
  color: #bbc169;
  border-color: #bbc169; }
  .moves-description.bug table {
    border-color: #bbc169; }

.moves-description.dragon {
  color: #4e5573;
  border-color: #4e5573; }
  .moves-description.dragon table {
    border-color: #4e5573; }

.moves-description.dark {
  color: #3f3f3f;
  border-color: #3f3f3f; }
  .moves-description.dark table {
    border-color: #3f3f3f; }

.moves-description.electric {
  color: #fcc73b;
  border-color: #fcc73b; }
  .moves-description.electric table {
    border-color: #fcc73b; }

.moves-description.fairy {
  color: #e99cb6;
  border-color: #e99cb6; }
  .moves-description.fairy table {
    border-color: #e99cb6; }

.moves-description.fighting {
  color: #be3a31;
  border-color: #be3a31; }
  .moves-description.fighting table {
    border-color: #be3a31; }

.moves-description.fire {
  color: #ed5f55;
  border-color: #ed5f55; }
  .moves-description.fire table {
    border-color: #ed5f55; }

.moves-description.flying {
  color: #8fabe6;
  border-color: #8fabe6; }
  .moves-description.flying table {
    border-color: #8fabe6; }

.moves-description.ghost {
  color: #35495d;
  border-color: #35495d; }
  .moves-description.ghost table {
    border-color: #35495d; }

.moves-description.grass {
  color: #4bc470;
  border-color: #4bc470; }
  .moves-description.grass table {
    border-color: arken(#5ECA7F, 5%); }

.moves-description.ground {
  color: #8d725f;
  border-color: #8d725f; }
  .moves-description.ground table {
    border-color: #8d725f; }

.moves-description.ice {
  color: #38bae4;
  border-color: #38bae4; }
  .moves-description.ice table {
    border-color: #38bae4; }

.moves-description.normal {
  color: #cdb685;
  border-color: #cdb685; }
  .moves-description.normal table {
    border-color: #cdb685; }

.moves-description.poison {
  color: #ba597e;
  border-color: #ba597e; }
  .moves-description.poison table {
    border-color: #ba597e; }

.moves-description.psychic {
  color: #7277d5;
  border-color: #7277d5; }
  .moves-description.psychic table {
    border-color: #7277d5; }

.moves-description.rock {
  color: #b1a484;
  border-color: #b1a484; }
  .moves-description.rock table {
    border-color: #b1a484; }

.moves-description.steel {
  color: #a8b1be;
  border-color: #a8b1be; }
  .moves-description.steel table {
    border-color: #a8b1be; }

.moves-description.water {
  color: #4c72a8;
  border-color: #4c72a8; }
  .moves-description.water table {
    border-color: #4c72a8; }

.name.bug {
  color: #bbc169; }

.name.dragon {
  color: #4e5573; }

.name.dark {
  color: #3f3f3f; }

.name.electric {
  color: #fcce54; }

.name.fairy {
  color: #f2c6d5; }

.name.fighting {
  color: #be3a31; }

.name.fire {
  color: #ed5f55; }

.name.flying {
  color: #b9caef; }

.name.ghost {
  color: #35495d; }

.name.grass {
  color: #5ECA7F; }

.name.ground {
  color: #8d725f; }

.name.ice {
  color: #4ec2e7; }

.name.normal {
  color: #d4c197; }

.name.poison {
  color: #ba597e; }

.name.psychic {
  color: #7277d5; }

.name.rock {
  color: #b1a484; }

.name.steel {
  color: #c5cbd4; }

.name.water {
  color: #4c72a8; }

.card {
  box-shadow: 0em 0.3em 1em 0.2em; }

.card.bug {
  color: #969d41; }

.card.dragon {
  color: #2f3345; }

.card.dark {
  color: #191919; }

.card.electric {
  color: #fbb809; }

.card.fairy {
  color: #e488a7; }

.card.fighting {
  color: #812721; }

.card.fire {
  color: #de2518; }

.card.flying {
  color: #7b9be1; }

.card.ghost {
  color: #19232c; }

.card.grass {
  color: #36a558; }

.card.ground {
  color: #5f4d40; }

.card.ice {
  color: #1ca2cd; }

.card.normal {
  color: #bea161; }

.card.poison {
  color: #8c3a5a; }

.card.psychic {
  color: #3940c1; }

.card.rock {
  color: #8e7f5a; }

.card.steel {
  color: #99a4b3; }

.card.water {
  color: #344e73; }

/*# sourceMappingURL=_types.css.map */
