@import 'variables';
.type{
	line-height:2.1em;
	width:4.6em;
	border: solid 0.1em;
	display:inline-block;	
	font-family:$font-type;
	font-size:0.7em;
	border-radius:5em;
	padding: 0 0.5em;
	color: darken($white, 5%);
	box-shadow: inset 0em 0em 0.05em 0.15em #fff;
	text-shadow:0px 0.1em $lblack;
	text-align:center;
	margin:0 0.2em;
}
 
.bug{background-color:$bug; border-color: $bug;}
.dragon{background-color:$dragon;  border-color: $dragon;}
.dark{background-color:$dark;  border-color:$dark;}
.electric{background-color:$electric; border-color: $electric;}
.fairy{background-color:$fairy; border-color:$fairy}
.fire{background-color: $fire; border-color:$fire;}
.flying{background-color: $flying; border-color:$flying;}
.fighting{background-color:$fighting; border-color:$fighting;}
.ghost{background-color:$ghost; border-color:$ghost;}
.grass{background-color:$grass; border-color:$grass;}
.ground{background-color:$ground; border-color:$ground;}
.ice{background-color:$ice; border-color:$ice;} 
.normal{background-color:$normal; border-color:$normal;} 
.poison{background-color:$poison; border-color:$poison;}
.psychic{background-color:$psychic; border-color:$psychic;}
.rock{background-color:$rock; border-color:$rock;}
.steel{background-color:$steel; border-color:$steel;}
.water{background-color:$water; border-color:$water;}




////BACKGROUND////
// .bg.fairy{background-color:$fairy; background-image: url('../img/fairy.jpg'); }
.bg{transition: $transition;}
.bg.bug{background-color:$bug; }
.bg.dragon{background-color:$dragon; }
.bg.dark{background-color:$dark;}
.bg.electric{background-color:$electric;}
.bg.fairy{background-color:$fairy;}
.bg.fire{background-color: $fire;}
.bg.flying{background-color: $flying; }
.bg.fighting{background-color:$fighting; }
.bg.ghost{background-color:$ghost; }
.bg.grass{background-color:$grass;}
.bg.ground{background-color:$ground;}
.bg.ice{background-color:$ice; } 
.bg.normal{background-color:$normal; } 
.bg.poison{background-color:$poison;}
.bg.psychic{background-color:$psychic; }
.bg.rock{background-color:$rock;}
.bg.steel{background-color:$steel;}
.bg.water{background-color:$water;}

///FOREGROUND
.fg{
	background-color:transparent; ///////REVEAL BG
	transition: $transition;
} 
.fg.bug{
	#sprite{
		.container-main-sprite{border-color: $bug;}	
	}
	#basic{
		.general{
			tbody{border-color:$bug;}
		}
		.stats{
			.gauge{
				div{background-color:$bug;}
			}
		}
	}
}
.fg.dragon{
	#sprite{
		.container-main-sprite{border-color: $dragon;}	
	}
	#basic{
		.general{
			tbody{border-color:$dragon;}
		}
		.stats{
			.gauge{
				div{background-color:$dragon;}
			}
		}
	}
}
.fg.dark{
	#sprite{
		.container-main-sprite{border-color: $dark;}	
	}
	#basic{
		.general{
			tbody{border-color:$dark;}
		}
		.stats{
			.gauge{
				div{background-color:$dark;}
			}
		}
	}
}
.fg.fairy{
	#sprite{
		.container-main-sprite{border-color: $fairy;}	
	}
	#basic{
		.general{
			tbody{border-color:$fairy;}
		}
		.stats{
			.gauge{
				div{background-color:$fairy;}
			}
		}
	}
}
.fg.electric{
	#sprite{
		.container-main-sprite{border-color: $electric;}	
	}
	#basic{
		.general{
			tbody{border-color:$electric;}
		}
		.stats{
			.gauge{
				div{background-color:$electric;}
			}
		}
	}
}
.fg.fire{
	#sprite{
		.container-main-sprite{border-color: $fire;}	
	}
	#basic{
		.general{
			tbody{border-color:$fire;}
		}
		.stats{
			.gauge{
				div{background-color:$fire;}
			}
		}
	}	
}
.fg.flying{
	#sprite{
		.container-main-sprite{border-color: $flying;}	
	}
	#basic{
		.general{
			tbody{border-color:$flying;}
		}
		.stats{
			.gauge{
				div{background-color:$flying;}
			}
		}
	}		
}
.fg.fighting{
	#sprite{
		.container-main-sprite{border-color: $fighting;}	
	}
	#basic{
		.general{
			tbody{border-color:$fighting;}
		}
		.stats{
			.gauge{
				div{background-color:$fighting;}
			}
		}
	}	
}
.fg.ghost{
	#sprite{
		.container-main-sprite{border-color: $ghost;}	
	}	
	#basic{
		.general{
			tbody{border-color:$ghost;}
		}
		.stats{
			.gauge{
				div{background-color:$ghost;}
			}
		}
	}
}
.fg.grass{
	#sprite{
		.container-main-sprite{border-color: $grass;}	
	}
	#basic{
		.general{
			tbody{border-color:$grass;}
		}
		.stats{
			.gauge{
				div{background-color:$grass;}
			}
		}
	}	
}
.fg.ground{
	#sprite{
		.container-main-sprite{border-color: $ground;}	
	}
	#basic{
		.general{
			tbody{border-color:$ground;}
		}
		.stats{
			.gauge{
				div{background-color:$ground;}
			}
		}
	}	
}
.fg.ice{
	#sprite{
		.container-main-sprite{border-color: $ice;}	
	}	
	#basic{
		.general{
			tbody{border-color:$ice;}
		}
		.stats{
			.gauge{
				div{background-color:$ice;}
			}
		}
	}
} 
.fg.normal{
	#sprite{
		.container-main-sprite{border-color: $normal;}	
	}	
	#basic{
		.general{
			tbody{border-color:$normal;}
		}
		.stats{
			.gauge{
				div{background-color:$normal;}
			}
		}
	}
} 
.fg.poison{
	#sprite{
		.container-main-sprite{border-color: $poison;}	
	}	
	#basic{
		.general{
			tbody{border-color:$poison;}
		}
		.stats{
			.gauge{
				div{background-color:$poison;}
			}
		}
	}	
}
.fg.psychic{
	#sprite{
		.container-main-sprite{border-color: $psychic;}	
	}
	#basic{
		.general{
			tbody{border-color:$psychic;}
		}
		.stats{
			.gauge{
				div{background-color:$psychic;}
			}
		}
	}	
}
.fg.rock{
	#sprite{
		.container-main-sprite{border-color: $rock;}	
	}	
	#basic{
		.general{
			tbody{border-color:$rock;}
		}
		.stats{
			.gauge{
				div{background-color:$rock;}
			}
		}
	}
}
.fg.steel{
	#sprite{
		.container-main-sprite{border-color: $steel;}	
	}
	#basic{
		.general{
			tbody{border-color:$steel;}
		}
		.stats{
			.gauge{
				div{background-color:$steel;}
			}
		}
	}	
}
.fg.water{
	#sprite{
		.container-main-sprite{border-color: $water;}	
	}
	#basic{
		.general{
			tbody{border-color:$water;}
		}
		.stats{
			.gauge{
				div{background-color:$water;}
			}
		}
	}
}
.moves-description{background-color:transparent;}
.moves-description.bug{color:$bug; border-color:$bug; table{border-color:$bug;}}
.moves-description.dragon{color:$dragon; border-color:$dragon; table{border-color:$dragon;}}
.moves-description.dark{color:$dark; border-color:$dark; table{border-color:$dark;}}
.moves-description.electric{color:darken($electric,5%); border-color: darken($electric, 5%); table{border-color:darken($electric, 5%);}}
.moves-description.fairy{color:darken($fairy, 10%); border-color:darken($fairy, 10%); table{border-color:darken($fairy, 10%);}}
.moves-description.fighting{color:$fighting; border-color:$fighting; table{border-color:$fighting;}}
.moves-description.fire{color:$fire; border-color:$fire; table{border-color:$fire;}}
.moves-description.flying{color:darken($flying, 10%); border-color:darken($flying, 10%); table{border-color:darken($flying, 10%);}}
.moves-description.ghost{color:$ghost; border-color:$ghost; table{border-color:$ghost;}}
.moves-description.grass{color:darken($grass, 5%); border-color:darken($grass, 5%); table{border-color:arken($grass, 5%);}}
.moves-description.ground{color:$ground; border-color:$ground; table{border-color:$ground;}}
.moves-description.ice{color:darken($ice, 5%); border-color:darken($ice, 5%); table{border-color:darken($ice, 5%);}}
.moves-description.normal{color:darken($normal, 5%); border-color:darken($normal, 5%); table{border-color: darken($normal, 5%);}}
.moves-description.poison{color:$poison; border-color:$poison; table{border-color:$poison;}}
.moves-description.psychic{color:$psychic; border-color:$psychic; table{border-color:$psychic;}}
.moves-description.rock{color:$rock; border-color:$rock; table{border-color:$rock;}}
.moves-description.steel{color:darken($steel, 10%); border-color:darken($steel, 10%); table{border-color:darken($steel, 10%);}}
.moves-description.water{color:$water; border-color:$water; table{border-color:$water;}}

.name.bug{color:$bug;}
.name.dragon{color:$dragon;}
.name.dark{color:$dark;}
.name.electric{color:$electric;}
.name.fairy{color:$fairy;}
.name.fighting{color:$fighting;}
.name.fire{color:$fire;}
.name.flying{color:$flying;}
.name.ghost{color:$ghost;}
.name.grass{color:$grass;}
.name.ground{color:$ground;}
.name.ice{color:$ice;}
.name.normal{color:$normal;}
.name.poison{color:$poison;}
.name.psychic{color:$psychic;}
.name.rock{color:$rock;}
.name.steel{color:$steel;}
.name.water{color:$water;}

.card{box-shadow:0em 0.3em 1em 0.2em;}
.card.bug{color:darken($bug, 15%);}
.card.dragon{color:darken($dragon, 15%);}
.card.dark{color:darken($dark, 15%);}
.card.electric{color:darken($electric, 15%);}
.card.fairy{color:darken($fairy, 15%);}
.card.fighting{color:darken($fighting, 15%);}
.card.fire{color:darken($fire, 15%);}
.card.flying{color:darken($flying, 15%);}
.card.ghost{color:darken($ghost, 15%);}
.card.grass{color:darken($grass, 15%);}
.card.ground{color:darken($ground, 15%);}
.card.ice{color:darken($ice, 15%);}
.card.normal{color:darken($normal, 15%);}
.card.poison{color:darken($poison, 15%);}
.card.psychic{color:darken($psychic, 15%);}
.card.rock{color:darken($rock, 15%);}
.card.steel{color:darken($steel, 15%);}
.card.water{color:darken($water, 15%);}














